.heading-font {
    font-size: 2rem;
    font-weight: 500;
}

.reading-font {
    font-size: 1.3rem;
}

.attribute-heading-font {
    font-size: 1.7rem;
}

.attribute-body-font {
    font-size: 1.1rem;
}