{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title></title>
  <link rel="stylesheet" href="{% static 'static_website/hero_properties.css' %}">
  <link rel="stylesheet" href="{% static 'static_website/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'static_website/fonts.css' %}">
  <link rel="stylesheet" href="{% static 'static_website/buttons.css' %}">
  <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  {% block head_elements %}
  {% endblock %}
</head>
<body class="bg-light">

{% block hero-image-type %}
<div class = "home-hero-image">
{% endblock %}
{% block hero-content %}
{% endblock %}
</div>


{% block body %}

{% endblock %}


<footer class="footer" style = "margin-top: 5%">
{% block custom_footer_elements %}
  <div class="container">
    <div class="row">
      <!--<div class="col-lg-6">
        <a class="text-muted" href="https://icons8.com/icon/77154/identity-theft">
          Check out Icons8! I used their icons
        </a>
      </div>-->
    </div>
  
    <div class="row">
      <div class="col-lg-6">
        <span class="text-muted">
          Copyright &copy Sapphire Design
          <script>
            document.write(new Date().getFullYear())
          </script>
        </span>
      </div>
    </div>
    <br>
  </div>
{% endblock %}   
</footer>



  <script type="text/javascript" src="https://cdn.emailjs.com/sdk/2.1.0/email.min.js"></script>
</body>
</html>
